body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-top: 20px; /* Customizable top margin */
  margin-bottom: 20px; /* Customizable bottom margin */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

#logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 80px; 
}

#muteButtons {
  position: absolute;
  top: 250px;
  right: 100px;
}

canvas {
  border-style: outset;
  display: block;
  margin: 0 auto;
}

#start {
  display: flex; 
  justify-content: center; 
}

#startButton {
  background: none;
  border: none;
  cursor: pointer;
}

#startImage {
  width: 200px; 
  height: auto;
}

#controls {
  display: flex; 
  justify-content: center; 
}

#controls i {
  font-size: 44px; 
  margin: 0 10px; 
}

#points {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 200px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333333;
  margin-top: 10px;
  text-align: center;
}

#pointsValue {
  color: #e74c3c;
}
